{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block body %}

{% if user %}
<h1> Привет пользователь {{ user.name }}! </h1>

<hr>Ваш логин: {{ user.user_name }}</hr>
<p>Ваше имя:  {{ user.name }}</p>

<hr>  <a href="/logout"> Выйти </a> </hr>
{% else %}
<h1> Добро пожаловать на  Ilya_Home_Page! </h1>
<hr><br> Пожалуйста,
    <a href="/signup"> зарегистрируйтесь </a>
    или <a href="/login"> войдите </a> в систему </br></hr>
{% endif %}

{% endblock %}

