{% extends 'base.html' %}
{% block title %}
Вход в систему!
{% endblock %}

{% block body %}
<h2> Пожалуйста, введите свой логин и пароль! </h2>
<hr/><form method="post" >
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit">
</form></hr>
<p></p><div>Если вы еще не зарегистрированы, просьба создать учетную запись: <a href="/signup"> Регистрация </a></div></p>

{% endblock %}
