{% extends 'base.html' %}
{% block title %}
Регистриция!
{% endblock %}

{% block body %}
<h2> Пожалуйста, зарегистрируйтесь! </h2>
<hr/><form method="post" >
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit">
</form></hr>
<p></p><div>Если вы уже зарегитсрированы, просьба ввойти в свой аакаунт: <a href="/login"> Вход </a></div></p>

{% endblock %}
