<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1><title>Error 500!</title></h1>
</head>
<body>
<h1>Error 500, please, try again</h1>

{% block body %}
<hr>{{ message }}</hr>
{% endblock %}

</body>
</html>